body{
    font-family: 'Roboto', sans-serif;
}
  
h1 {
  font-family: 'Domine', serif;
  font-size:26px;
}

#links a{
  text-decoration: none;
  display: inline-block;
  padding:8px;
  margin:8px;
  border: 1px solid;
}

a:link {
  text-decoration: none;
  display: inline-block;
  padding:8px;
  margin:8px;
  border: 1px solid;
}

a:hover{
    color: purple;
}
  